# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Builds
# =====================
dist/
build/
dist-ssr/

# =====================
# Environment
# =====================
.env
.env.local

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# OS
# =====================
.DS_Store

# =====================
# Local files
# =====================
*.local

# =====================
# IDE
# =====================
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
