@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.form {
  width: 100%;
  max-width: 500px;
  margin: space(xl) auto;
  padding: space(lg);

  display: flex;
  flex-direction: column;
  gap: space(md);

  background: color(light);
  border-radius: space(md);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  &__input {
    width: 100%;

    padding: space(sm);

    border: 1px solid #d1d5db;
    border-radius: space(sm);

    font-size: font-size(base);

    outline: none;

    &:focus {
      border-color: color(primary);
    }
  }

  &__button {
    padding: space(sm);

    border: none;
    border-radius: space(sm);

    background: color(primary);
    color: white;

    font-size: font-size(base);
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;

    &:hover {
      opacity: 0.9;
      transform: translateY(-2px);
    }
  }
}
